@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cagliostro", sans-serif;
  font-family: "Itim", cursive;
  font-family: "Noto Sans Hanunoo", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Slab", serif;
  font-family: "Sofia Sans", sans-serif;
  /* background-color: #f7f3bd; */
}
